<h1>Sign up</h1>

<%= render "users/error_messages", model: @user %>

<div>
  
  <%= form_with(model: @user, local: true) do |f| %>
    
    <div>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
    </div>
    
    <div>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email %>
    </div>
    
    <div>
      <%= f.label :password, "password" %>
      <%= f.password_field :password %>
    </div>
    
    <div>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>
    
    <%= f.submit "Signup" %>
    
  <% end %>
  
</div>